header{
    .nav-belt{
        align-items: center;
        background-color: #001A31;
        height: 77px;
        color: #fff;
        flex-wrap: wrap;
        .start-section{
            align-items: center;
            width: auto;
            flex-grow: 1;
            .logo{
                display: inherit;
                height:100%;
            }
            .primary-menu{
                li{
                    margin-inline-start: 1rem;
                    a{
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }
        }
        .middle-section{
            align-items: center;
            justify-content: center;
            flex-grow: 3;
            .search-form{
                height: 40px;
                width: 100%;
                border-radius: 3px;
                overflow: hidden;
                &:focus-within{
                    //border: 3px solid #E9C64A;
                    box-shadow: 0 0 0 2px #E9C64A, 0 0 0 3px #c1a43d;
                }
                input{
                    height: 100%;
                    width: calc(100% - 45px);
                    border: 0;
                    padding: 8px;
                }
                button{
                    height: 100%;
                    width: 45px;
                    border: 0;
                    background-color: #E9C64A;
                }
            }
        }
        .end-section{
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            .listing{
                width: auto;
                li{
                    margin-inline-start: 1rem;
                    a{
                        font-size: 17px;
                        color: #fff;
                    }
                    &.cart-icon{
                        justify-content: center;
                        align-items: center;
                        .counter{
                            background-color: #E9C64A;
                            color: #000;
                            width: 13px;
                            height: 13px;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px!important;
                            top: -4px;
                            right: -3px;
                        }
                    }
                }
            }
        }
    }
    .nav-main{
        align-items: center;
        background-color: #0F3252;
        height: 56px;
        color: #fff;
        a{
            color: #fff;
        }
        .address-section{
            
        }
        .etc-links{
            height: 100%;
            font-size: 16px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}